#portfolio {
    text-align: center;
    
    .portfolio-name {
        padding: {
            top: 25px;
            bottom: 70px;
        }
        background-color: #FBFAFD;
        
        h3 {
            font: {
                family: 'acherus_grotesquebold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                size: 25px;
            }
            color: #FF1C0E;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    
        p {    
            font: {
                family: 'acherus_grotesquelight', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                size: 16px;
            }
            color: #FF1C0E;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .portfolio-info {
        margin: {
            top: -60px;
            left: 16px;
            right: 16px;
            bottom: 20px;
        }

        .portfolio-card {
            padding: 16px;
            box-shadow: 0 1px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
            background-color: #ffffff;
            border-radius: 8px;

            .objective {
                margin-bottom: 30px;
            }

            h3 {
                font: {
                    family: 'acherus_grotesquebold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    size: 18px;
                }
                text-transform: uppercase;
                color: #FF1C0E;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            p {
                margin-bottom: 0;

                font: {
                    family: 'acherus_grotesquelight', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    size: 16px;
                }
                line-height: 25px;
                text-align: left;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }

    .portfolio-pieces {
    }
}   

@media screen and (min-width: 590px) {
    #portfolio {
        .portfolio-name {
            padding: {
                top: 50px;
                bottom: 100px;
            }

            h3 {
                font: {
                    size: 30px;
                }
            }
        }
        
        .portfolio-info {
            margin: {
                top: -70px;
                left: 0;
                right: 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #portfolio {
        .portfolio-name {
            padding: {
                top: 100px;
                bottom: 150px;
            }

            h3 {
                font: {
                    size: 40px;
                }
            }
        }
        
        .portfolio-info {
            .portfolio-card {
                padding: 24px;
                
                .objective {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
   
    #portfolio {
        .portfolio-name {
            h3 {
                font: {
                    size: 45px;
                }
            }
        }
    }
}