/***
 *
 * Button Mixins
 *
 */
@mixin primaryButton($color, $backgroundColor) {
	color: $color;
	background-color: $backgroundColor;

	&:hover {
		color: $backgroundColor;
		background-color: $color;
	}
}

@mixin secondaryButton($color, $backgroundColor) {
	color: $color;
	background-color: $backgroundColor;

	&:hover {
		color: $backgroundColor;
		background-color: $color;
	}
}

@mixin textButton($color, $backgroundColor) {
	color: $color;
	background-color: $backgroundColor;

	&:hover {
		color: $backgroundColor;
		background-color: $color;
	}
}

/***
 *
 * Font Mixins
 *
 */
@mixin RalewayFont($fontWeight) {
	font-family: 'Raleway', sans-serif;
	font-weight: $fontWeight; // 400, 400
}

@mixin MontserratFont($fontWeight) {
	font-family: 'Montserrat', sans-serif;
	font-weight: $fontWeight; // 600, 700
}
