@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'theme';

:root {
    --red-color: #FF001F;
    --white-color: #ffffff;
    --black-color: #000000;
    --transparent: transparent;
    --grey-color: #D8D8D8;
    --light-grey-color: #fcfcfc;
}

h1,
h2,
h3,
h4, 
h5,
h6,
p { margin: 0; }

.mt-60 { margin-top: 60px; }

.mb-35 { margin-bottom: 35px; }

.title-1 {
    @include MontserratFont(700);
    margin-bottom: 22px;
    color: var(--black-color);
    // color: map-get($colors, black);
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 85%;
    }

    @media screen and (min-width: 992px) {
        width: 75%;
    }

    @media screen and (min-width: 1200px) {
        width: 70%;
    }
}