@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'theme';

:root {
    --red-color: #FF001F;
    --white-color: #ffffff;
    --black-color: #000000;
    --transparent: transparent;
}

.mt-60 {
    margin-top: 60px;
}

.mb-35 {
    margin-bottom: 35px;
}

.title-1 {
    @include MontserratFont(700);
    margin-bottom: 22px;
    color: $black-color;
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 85%;
    }

    @media screen and (min-width: 992px) {
        width: 75%;
    }

    @media screen and (min-width: 1200px) {
        width: 70%;
    }
}