@font-face {
  font-family: 'acherus_grotesquelight';
  src: url('../fonts/acherus_grotesque_light-webfont.woff2') format('woff2'),
       url('../fonts/acherus_grotesque_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'acherus_grotesquemedium';
  src: url('../fonts/acherus_grotesque_medium-webfont.woff2') format('woff2'),
       url('../fonts/acherus_grotesque_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'acherus_grotesquebold';
  src: url('../fonts/acherus_grotesque_bold-webfont.woff2') format('woff2'),
       url('../fonts/acherus_grotesque_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'acherus_grotesqueblack';
  src: url('../fonts/acherus_grotesque_black-webfont.woff2') format('woff2'),
       url('../fonts/acherus_grotesque_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
