@import '../../assets/scss/app';

body {
	@include RalewayFont(400);
	margin: 0;
}

.main {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;

  opacity: 0;
	animation-name: pageTransition;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease;

  &__contianer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

@keyframes pageTransition {
	from {
    margin-top: 160px;
		opacity: 0;
	}
	to {
		margin-top: 80px;
		opacity: 1;
	}
}
