@import '../../assets/scss/app';

body {
	@include RalewayFont(500);
	margin: 0;
}

.hidden {
	display: none;
}

.main {
	margin-top: 80px;
	opacity: 0;

	animation-name: pageTransition;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes pageTransition {
	from {
    margin-top: 160px;
		opacity: 0;
	}
	to {
		margin-top: 80px;
		opacity: 1;
	}
}
