---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">

  <section class="max-w-screen-xl mx-auto py-10 px-4">
    <h3 class="hidden">404</h3>
    <div>
      <h4>404</h4>
    </div>
  </section>

</Layout>
