---
import Layout from '../layouts/Layout.astro';
// import Button from '../components/Button';
import Header from '../components/Header';
import Footer from '../components/Footer';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<h2 class="italic font-black text-red-600">Home</h2>

		<section>
			<div>
				<h3>Hey I'm Randy</h3>
				<p>Front-end developer & ui designer</p>
				<p>I specialize in front-end development and user interface design.</p>
			</div>
		</section>

		<section>
			<img src="" alt="" />
			<div>
				<p>I'm a Front-end Developer and Designer based in London, Ontario Canada.</p>
				<p>I am passionate about creating aesthetically websites and designs. I can translate your artwork files (Photoshop, Illustrator, XD, Sketch, Figma, etc.) and prototype them into web or mobile using HTML5, CSS3, and JavaScript.</p>
				<p>I'm currently working at Devlift Media as a Web Developer, building websites and mobile apps with the latest web technologies such as HTML5, CSS3 (SCSS), JavaScript (ES5/6+), TypeScript, Angular (2+), Ionic, ReactJS, React Native and Firebase</p>
				<button type="button">Resume</button>
				<ul>
					<li>HTML</li>
					<li>CSS3 (SCSS)</li>
					<li>Bootstrap (3+)</li>
				</ul>
				<ul>
					<li>Games (PS5, Switch and PC)</li>
					<li>Recreational activity (Jogging, Running, Cycling and Powerlifting)</li>
					<li>TV Shows and Movies</li>
				</ul>
			</div>
		</section>

		<section>
			<div>
				<h3>Work experiences</h3>
				<div>
					<h4>Devlift</h4>
					<p>Dec 2016 - Present</p>
					<p>Web Developer</p>
				</div>
				<div>
					<h4>BuzzPR</h4>
					<p>Aug 2016 - Sept 2016</p>
					<p>Graphic Design Intern</p>
				</div>
			</div>
		</section>

		<section>
			<div>
				<h3>Education</h3>
				<div>
					<h4>Fanshawe College</h4>
					<p>Sept 2015 - Apr 2016</p>
					<p>Interactive Media Specialist</p>
				</div>
				<div>
					<h4>Fanshawe College</h4>
					<p>Sept 2011 - Apr 2015</p>
					<p>Graphic Design</p>
				</div>
			</div>
		</section>

		<section>
			<div>
				<h3>Portfolio</h3>
				<div class="portfolio-list">
					<div class="portfolio-list__item">
						<img src="" alt="" />
						<h4>Portfolio One</h4>
						<p>Portfolio One description</p>
					</div>
					<div class="portfolio-list__item">
						<img src="" alt="" />
						<h4>Portfolio One</h4>
						<p>Portfolio One description</p>
					</div>
					<div class="portfolio-list__item">
						<img src="" alt="" />
						<h4>Portfolio One</h4>
						<p>Portfolio One description</p>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div>
				<ul>
					<li>Github</li>
					<li>Dribbble</li>
					<li>LinkedIn</li>
					<li>Email</li>
				</ul>
			</div>
		</section>

	</main>
	<Footer />
</Layout>

<style></style>
