---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import Banner from '../components/Banner.astro';
---

<Layout title="Home">

	<Header />

	<main class="">
		<h2 class="hidden">Main Content</h2>

		<Banner
			name="Randy Phalla"
			role="Front-end developer"
		/>

		<section id="aboutMe" class="max-w-5xl mx-auto py-10 px-4">
			<h3 class="hidden">About me</h3>
			<h4 class="mb-5 font-bold text-3xl">About</h4>
			<div class="">
				<img class="" src="" alt="Portrait of Randy Phalla" />
				<div class="">
					<p class="mb-4 text-base md:text-lg leading-7 md:leading-8">I'm a Front-end developer based in London, Ontario Canada. I graduated from Fanshawe college from the Interactive Media Specialist (2016) and Graphic Design (2014) programs.</p>

					<p class="mb-4 text-base md:text-lg leading-7 md:leading-8">I'm currently working at <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="https://devlift.com/" target="_blank">Devlift Media</a> as a Full Stack Developer / Senior Web Developer. My role is taking artwork files (Photoshop, Illustrator, XD, Sketch & Figma) and build those projects in web apps or mobile. Lead front-end development, mentor junior developers, ability to create, taking, & assigning tasks, attend client meetings, colloaborating with designers, developers and clients. Here's a list of web technologies I'm using a work. HTML5, CSS3 (SCSS), Bootstrap (3/4), Tailwind, JavaScript (ES6+), TypeScript, Angular (2+), Ionic, React/React Native, Material UI, Storybook and Firebase. My previous role was at <a class="font-bold hover:text-gray-600 underline underline-offset-2" href="http://www.buzzpr.ca/" target="_blank">BuzzPR</a> (2016), where I was working as a Graphic Design Intern in Toronto, Ontario. My role was to create Snapchat filters for events, brand guidelines, logos and create social media artwork for their social media(s).</p>

					<p class="mb-4 text-base md:text-lg leading-7 md:leading-8">When I'm not working, I would be playing games (PS5, Switch and PC), watching tv shows & movies or doing recreational activity such as jogging, running, cycling and powerlifting.</p>

					<a
						class="border-1 border-solid border-gray-900 pt-2 pb-2 pl-4 pr-4 text-white bg-gray-900 rounded-lg hover:bg-transparent hover:text-gray-900"
						type="button"
						href="#"
					>
						Resume
					</a>
				</div>
			</div>
		</section>

		<section id="Skills" class="max-w-5xl mx-auto py-10 px-4">
			<h3 class="hidden">Skills</h3>
			<h4 class="mb-5 font-bold text-3xl">Skills</h4>
			<div class="">
				<p class="mb-4 text-gray-600 text-base md:text-lg leading-7 md:leading-8"><span class="font-bold text-gray-900">Front-end developmet:</span> HTML5, CSS3 (SCSS), Responsive Web Design, Accessibility, JavaScript (ES6+), TypeScript, Angular (2+), Ionic, React / React Native, Astro, Storybook, Material UI, Storybook, Tailwind, and Bootstrap (3+).</p>
				<p class="mb-4 text-gray-600 text-base md:text-lg leading-7 md:leading-8"><span class="font-bold text-gray-900">Back-end development:</span> Firebase, PHP and MySQL.</p>
				<p class="mb-4 text-gray-600 text-base md:text-lg leading-7 md:leading-8"><span class="font-bold text-gray-900">Project management:</span> Trello and JIRA.</p>
				<p class="mb-4 text-gray-600 text-base md:text-lg leading-7 md:leading-8"><span class="font-bold text-gray-900">Tools:</span> Adobe (Photoshop, Illustrator & XD), Figma, Sketch, Github, Sourcetree, and Slack.</p>
			</div>
		</section>

		<section id="work" class="max-w-5xl mx-auto py-10 px-4">
			<h3 class="hidden">Work Experiences</h3>
			<h4 class="mb-5 font-bold text-3xl">Work experiences</h4>
			<div class="">
				<div class="mb-4">
					<h4 class="text-gray-900 font-bold text-base md:text-lg leading-7 md:leading-8">Full Stack Developer / Senior Web Developer <a class="hover:text-gray-600 hover:underline hover:underline-offset-2" href="https://devlift.com/" target="_blank">@Devlift Media</a></h4>
					<p class="ext-gray-600 text-sm md:text-base leading-7">Dec 2016 - Present</p>
				</div>
				<div class="">
					<h4 class="text-gray-900 font-bold text-base md:text-lg leading-7 md:leading-8">Graphic Design Intern <a class="hover:text-gray-600 hover:underline hover:underline-offset-2" href="http://www.buzzpr.ca/" target="_blank">@BuzzPR</a></h4>
					<p class="text-gray-600 text-sm md:text-base leading-7">Aug 2016 - Sept 2016</p>
				</div>
			</div>
		</section>

		<section id="education" class="max-w-5xl mx-auto py-10 px-4 ">
			<h3 class="hidden">Education</h3>
			<h3 class="mb-5 font-bold text-3xl">Education</h3>
			<div class="">
				<div class="mb-4" onclick="test()">
					<h4 class="text-gray-900 font-bold text-base md:text-lg leading-7 md:leading-8">Interactive Media Specialist <a class="hover:text-gray-600 hover:underline hover:underline-offset-2" href="https://www.fanshawec.ca/programs/ims1-interactive-media-specialist/next" target="_blank">@Fanshawe College</a></h4>
					<p class="text-gray-600 text-sm md:text-base leading-7">Sept 2015 - Apr 2016</p>
				</div>
				<div class="">
					<h4 class="text-gray-900 font-bold text-base md:text-lg leading-7 md:leading-8">Graphic Design <a class="hover:text-gray-600 hover:underline hover:underline-offset-2" href="https://www.fanshawec.ca/programs/grd1-graphic-design/next" target="_blank">@Fanshawe College</a></h4>
					<p class="text-gray-600 text-sm md:text-base leading-7">Sept 2011 - Apr 2014</p>
				</div>
			</div>
		</section>

		<section id="projects" class="max-w-5xl mx-auto py-10 px-4 ">
			<h3 class="hidden">Projects</h3>
			<h4 class="mb-5 font-bold text-3xl">Projects</h4>

			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

				<div class="p-4 bg-gray-900 hover:bg-gray-800 border-1 border-solid border-gray-900 hover:border-gray-800 rounded-lg cursor-pointer transition-all">
					<img class="" src="" alt="Project" />
					<h4 class="text-white font-bold text-base md:text-lg leading-7 md:leading-8">Projects One</h4>
					<p class="text-white text-sm md:text-base leading-7">projects One description</p>
				</div>

				<div class="p-4 bg-gray-900 hover:bg-gray-800 border-1 border-solid border-gray-900 hover:border-gray-800 rounded-lg cursor-pointer transition-all">
					<img class="" src="" alt="Project" />
					<h4 class="text-white font-bold text-base md:text-lg leading-7 md:leading-8">Projects One</h4>
					<p class="text-white text-sm md:text-base leading-7">projects One description</p>
				</div>

				<div class="p-4 bg-gray-900 hover:bg-gray-800 border-1 border-solid border-gray-900 hover:border-gray-800 rounded-lg cursor-pointer transition-all">
					<img class="" src="" alt="Project" />
					<h4 class="text-white font-bold text-base md:text-lg leading-7 md:leading-8">Projects One</h4>
					<p class="text-white text-sm md:text-base leading-7">projects One description</p>
				</div>

				<div class="p-4 bg-gray-900 hover:bg-gray-800 border-1 border-solid border-gray-900 hover:border-gray-800 rounded-lg cursor-pointer transition-all">
					<img class="" src="" alt="Project" />
					<h4 class="text-white font-bold text-base md:text-lg leading-7 md:leading-8">Projects One</h4>
					<p class="text-white text-sm md:text-base leading-7">projects One description</p>
				</div>

				<div class="p-4 bg-gray-900 hover:bg-gray-800 border-1 border-solid border-gray-900 hover:border-gray-800 rounded-lg cursor-pointer transition-all">
					<img class="" src="" alt="Project" />
					<h4 class="text-white font-bold text-base md:text-lg leading-7 md:leading-8">Projects One</h4>
					<p class="text-white text-sm md:text-base leading-7">projects One description</p>
				</div>

			</div>

		</section>

	</main>

	<Footer />

</Layout>

<style></style>
<script type="text/javascript"></script>
