---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Home">

	<Header />

	<main class="">
		<h2 class="hidden">Main Content</h2>

		<Banner
			name="Randy Phalla"
			role="Front-end developer"
		/>

		<section id="aboutMe" class="max-w-5xl mx-auto pt-4 pb-4 px-4">
			<h3 class="hidden">About me</h3>
			<h4 class="text-base leading-7">About</h4>
			<div>
				<img class="" src="" alt="Portrait of Randy Phalla" />
				<div class="">
					<p class="mb-4 text-base leading-7">I'm a Front-end developer based in London, Ontario Canada. I graduated from Fanshawe college from the Interactive Media Specialist (2016) and Graphic Design (2014). I'm passionate about front-end development, creating aesthetically websites and user experience.</p>

					<p class="mb-4 text-base leading-7">I'm currently working at <span>Devlift Media</span> as a Full Stack Developer / Senior Web Developer. My role is taking artwork files (Photoshop, Illustrator, XD, Sketch, Figma, etc.) and build those projects in web apps or mobile. Leading front-end development, mentor junior developers, taking & assigning tasks, attend client meetings, colloaborating with designers, developers and clients. Here's a list of web technologies I'm using a work. HTML5, CSS3 (SCSS), Bootstrap (3/4), Tailwind, JavaScript (ES5/6+), TypeScript, Angular (2+), Ionic, React/React Native, Material UI, Storybook and Firebase.</p>

					<p class="mb-4 text-base leading-7">When I'm not working, I would be playing games (PS5, Switch and PC), watching tv shows & movies or doing recreational activity such as jogging, running, cycling and powerlifting.</p>

					<a
						class="border-1 border-solid border-red-500 pt-2 pb-2 pl-4 pr-4 text-white bg-red-500 rounded-lg hover:bg-transparent hover:text-red-500"
						type="button"
						href="#"
					>
						Resume
					</a>
				</div>
			</div>
		</section>

		<section id="work" class="max-w-5xl mx-auto pt-4 pb-4 px-4">
			<h3 class="hidden">Work Experiences</h3>
			<div class="">
				<h4 class="text-base leading-7">Work experiences</h4>
				<div class="mb-4">
					<h4 class="font-bold text-base leading-7">Full Stack Developer / Senior Web Developer @ Devlift Media</h4>
					<p class="text-gray-600 text-base leading-7">Dec 2016 - Present</p>
				</div>
				<div class="">
					<h4 class="font-bold text-base leading-7">Graphic Design Intern @ BuzzPR</h4>
					<p class="text-gray-600 text-base leading-7">Aug 2016 - Sept 2016</p>
				</div>
			</div>
		</section>

		<section id="education" class="max-w-5xl mx-auto pt-4 pb-4 px-4 ">
			<h3 class="hidden">Education</h3>
			<div class="">
				<h3 class="text-base leading-7">Education</h3>
				<div class="mb-4" onclick="test()">
					<h4 class="font-bold text-base leading-7">Interactive Media Specialist @ Fanshawe College</h4>
					<p class="text-gray-600 text-base leading-7">Sept 2015 - Apr 2016</p>
				</div>
				<div class="">
					<h4 class="font-bold text-base leading-7">Graphic Design @ Fanshawe College</h4>
					<p class="text-gray-600 text-base leading-7">Sept 2011 - Apr 2014</p>
				</div>
			</div>
		</section>

		<section id="projects" class="max-w-5xl mx-auto pt-4 pb-4 px-4 ">
			<h3 class="hidden">Projects</h3>
			<div class="">
				<h4 class="text-base leading-7">Projects</h4>
				<div class="">
					<div class="">
						<img class="" src="" alt="projects" />
						<h4 class="font-bold text-gray-900">projects One</h4>
						<p class="text-base text-gray-600">projects One description</p>
					</div>
				</div>
			</div>
		</section>

		<section class="max-w-5xl mx-auto pt-4 pb-4 px-4 ">
			<h3 class="hidden">Socials</h3>
			<div class="">
				<h4 class="text-base leading-7">Socials</h4>
				<ul class="">
					<li class="">Github</li>
					<li class="">Dribbble</li>
					<li class="">LinkedIn</li>
					<li class="">Email</li>
				</ul>
			</div>
		</section>

	</main>

	<Footer
		name="Randy Phalla"
	/>

</Layout>

<style></style>
<script type="text/javascript"></script>