@import '../assets/scss/app';

.about-me { padding: 60px 0; }

.about-me__logo { display: none; }

.about-me__logo-avatar {
    height: 280px;
    width: 100%;
    background-color: var(--grey-color);
    border-radius: 10px;
}

.about-me__title,
.about-me__body { margin: 0; }

.about-me__title {
    @include MontserratFont(700);
    
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--black-color);
    font-size: 20px;
    letter-spacing: 0.5px;
}

.about-me__body {
    @include RalewayFont(500);

    color: var(--black-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.featured-projects {
    padding-top: 0;
    padding-bottom: 60px;
}

.projects {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}

.specializes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    .specializes__item {
        height: 280px;
        width: 100%;
        margin-bottom: 30px;

        background-color: var(--grey-color);
        border-radius: 8px;
    }
}

@media screen and (min-width: 768px) {
    .about-me {
        .container {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
        }
    }

    .about-me__logo { display: block; }

    .about-me__logo,
    .about-me__paragraph,
    .specializes { padding: 16px; }

    .projects { 
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0; 
    }

    .about-me__logo-avatar { width: 280px; }

    .about-me__title { margin-top: 0; }

    .title-1 { padding-left: 16px; }

    .default-btn {
        margin-left: 16px;
        width: initial !important;;
    }
    
    .specializes {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .specializes__item {
            width: calc((100% / 3) - 16px);
            margin-bottom: 0;
        }
    }
}
