@import '../assets/scss/app';

.about-me {
   padding: 60px 0;
}

.about-me__logo-avatar {
    height: 280px;
    // width: 280px;
    width: 100%;
    background-color: #D8D8D8;
    border-radius: 10px;
}

.about-me__title,
.about-me__body  {
    margin: 0;
}

.about-me__title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $black-color;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.about-me__body {
    color: $black-color;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.featured-projects {
    padding-top: 0;
    padding-bottom: 60px;
}

.projects {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 768px) {

    .about-me {
        .container {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
        }
    }

    .about-me__logo,
    .about-me__paragraph  {
        padding: 16px;
    }

    .about-me__logo-avatar {
        width: 280px;
    }

    .about-me__title  {
        margin-top: 0;
    }

    .projects  {
        padding: 16px;
    }

    .title-1 {
        padding-left: 16px;
    }

    .default-btn {
        margin-left: 16px;
        width: initial !important;;
    }
    
}
