@import '../assets/scss/app';

.portfolio-details {
    // background-color: blanchedalmond;
}

.portfolio-title {
    @include MontserratFont(700);

    margin-bottom: 22px;
    color: #000000;
    font-size: 16px;
}

.portfolio-paragraph {
    @include RalewayFont(500);

    color: #000000;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 30px;
}