---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Portfolio">
  <!-- ViewTransitions for portfolio (WIP) -->

  <section id="" class=""></section>
    <h3 class="hidden">1</h3>
    <h4>Portfolio</h4>
  </section>

  <section id="" class="">
    <h3 class="hidden">2</h3>
    <h4>Portfolio name</h4>
  </section>

  <section id="" class="">
    <h3 class="hidden">3</h3>
    <h4>Portfolio desc</h4>
  </section>

</Layout>