@import '../assets/scss/app';

.uses { margin-bottom: 60px; }

.uses__header {}

.uses__title {
  margin-bottom: 16px;
  font-size: 30px;
  text-decoration: underline;
}

.uses__list {
  padding-left: 0;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.uses__list-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.uses__list-item__title,
.uses__list-item__name {
  font-size: 18px;
  line-height: 1.8;
}

.uses__list-item__title { @include MontserratFont(600); }

.uses__list-item__name { @include RalewayFont(400); }

.uses__list-item__body {}