#header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FF1C0E; }
  #header .logo img {
    width: 40px; }
  #header .mobile-menu {
    text-align: right; }
    #header .mobile-menu button {
      height: 100%;
      padding: 0;
      margin: 0;
      background-color: transparent; }
      #header .mobile-menu button svg {
        height: 100%;
        width: 30px;
        color: #ffffff; }
    @media screen and (min-width: 768px) {
      #header .mobile-menu {
        display: none; } }
  #header .menu-links {
    display: none; }
    @media screen and (min-width: 768px) {
      #header .menu-links {
        display: initial; }
        #header .menu-links ul {
          padding-left: 0;
          margin-top: 15px;
          margin-bottom: 0;
          list-style: none;
          text-align: right; }
          #header .menu-links ul li {
            display: inline;
            margin-left: 15px; }
            #header .menu-links ul li a {
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
              font-weight: 400;
              font-size: 14px;
              color: #ffffff;
              text-transform: uppercase;
              text-decoration: none; }
              #header .menu-links ul li a:hover {
                color: #222222; } }
