---
export interface Props {
	name: string;
  role: string;
}

const { name, role } = Astro.props as Props;
---

<section class="">
  <h3 class="hidden">Banner</h3>
  <div class="max-w-5xl mx-auto py-20 px-4 text-left">
    <h4 class="text-gray-900 font-normal text-1xl md:text-1xl">Hey, I'm</h4>
    <h5 class="text-gray-900 font-bold text-7xl md:text-7xl "><span class="gradient-text">{name}</span></h5>
    <h6 class="mt-2 text-gray-900 font-medium text-3xl md:text-3xl">{role}</h6>
    <p class="mt-2 text-base md:text-lg leading-7 md:leading-8">I specialize in front-end development and user interface design.</p>
  </div>
</section>
<style></style>
<script type="text/javascript"></script>
