---
export interface Props {
	name: string;
  role: string;
}

const { name, role } = Astro.props as Props;
---

<section class="">
  <h3 class="hidden">Banner</h3>
  <div class="max-w-5xl mx-auto py-20 px-4 text-left">
    <h3 class="font-normal text-1xl md:text-1xl">Hey, I'm</h3>
    <h3 class="font-bold text-7xl md:text-7xl text-gray-900"><span class="gradient-text">{name}</span></h3>
    <p class="mt-2 font-medium text-3xl md:text-3xl text-gray-900">{role}</p>
    <p class="mt-2 text-base md:text-base text-gray-900">I specialize in front-end development and user interface design.</p>
  </div>
</section>
<style></style>
<script type="text/javascript"></script>
