---
export interface Props {
	name: string;
}

const { name } = Astro.props as Props;
---

<footer class="max-w-5xl mx-auto py-10 px-4">
  <h2 class="hidden">Footer</h2>
  <div class="text-center">
    <p class="text-base leading-7">Designed and Built by <span class="font-bold">{name}</span></p>
    <p class="text-base leading-7">Built with <a class="font-bold" href="https://astro.build/" target="_blank" aria-label="Redirect to Astro">Astro</a>, <a class="font-bold" href="https://tailwindcss.com/" target="_blank" aria-label="Redirect to Tailwind">Tailwind</a>, and <a class="font-bold" href="https://reactjs.org/" target="_blank" aria-label="Redirect to React">React</a></p>
    <p>&copy; 2022 Randy Phalla</p>
  </div>
</footer>
<style></style>
<script type="text/javascript"></script>