---
export interface Props {
	name: string;
  builtWith: string;
}

const { name, builtWith } = Astro.props as Props;
---

<footer class="max-w-5xl mx-auto pt-4 pb-4 px-4 border-1 border-dotted border-red-500">
  <h2 class="hidden">Footer</h2>
  <div class="text-center">
    <p class="text-base leading-7">Designed and Built by <span class="font-bold">{name}</span></p>
    <p class="text-base leading-7">Built with <span class="font-bold">{builtWith}</span></p>
  </div>
</footer>
<style></style>
<script type="text/javascript"></script>