#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F0F0F0; }
  #footer .social-links ul {
    padding-left: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-align: center; }
    #footer .social-links ul li {
      display: inline;
      margin-right: 15px; }
      #footer .social-links ul li a svg {
        color: #222222; }
        #footer .social-links ul li a svg.svg-inline--fa {
          height: 25px;
          width: 25px; }
        #footer .social-links ul li a svg:hover {
          color: rgba(0, 0, 0, 0.5);
          transform: translateY(-1px); }
  #footer .copyright {
    text-align: center; }
    #footer .copyright p {
      margin-bottom: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #222222;
      text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    #footer {
      padding-top: 10px;
      padding-bottom: 10px; }
      #footer .social-links ul {
        padding-bottom: 0; }
      #footer .copyright p {
        margin-top: 5px; } }
