@import '../../assets/scss/app';

.footer {
    background-color: var(--white-color);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 5px 16px;
    }
}

.border-container {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.footer-logo,
.social-media,
.lets-get-in-touch { padding: 16px; }

.social-media {
    .social-media__list {
        display: flex;  
        flex-wrap: wrap;

        list-style: none;
        padding: 0;
        margin: 0;

        .social-media__list-item {
            display: flex;
            justify-content: center;

            width: 50%;
            padding-top: 10px;
            padding-bottom: 10px;

            &:last-child { padding-bottom: 0; }

            svg {
                width: 30px;
                height: 30px;
                fill: var(--black-color);
                
                transition: all 300ms linear;

                &:hover { fill: var(--red-color) !important; }
            }

            &:first-child {
                svg { fill: #0073b1; }
            }

            &:nth-child(2) {
                svg { fill: #24292e; }
            }

            &:nth-child(3) {
                svg { fill: #ea4c89; }
            }

            &:last-child {
                svg { fill: #0057ff; }
            }
        }
    }
}

.footer-title {
    @include MontserratFont(700);
    
    margin-bottom: 10px;

    color: var(--black-color);
    font-size: 12px;
    text-align: center;
}

.footer-text {
    @include RalewayFont(500);

    color: var(--black-color);
    font-size: 12px;
    letter-spacing: 0.5px;
}  

.footer-text-link {
    text-decoration: none;
    transition: all 300ms ease;

    &:hover { color: var(--red-color); }
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.copyright__title {
    @include RalewayFont(300);

    color: var(--black-color);
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .footer {
        .container {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .social-media {
        .social-media__list {            
            .social-media__list-item {
                width: inherit;

                svg {
                    margin-right: 10px;

                    &:last-child { margin-left: 0; }
                }
            }
        }
    }

    .footer-title {
        margin-bottom: 25px;
        text-align: left;
    }
}
