#contact {
  height: calc(100vh - 172.66px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBFAFD; }
  #contact .contact-info {
    text-align: center; }
    #contact .contact-info h3 {
      font-family: 'acherus_grotesquebold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 40px;
      color: #FF1C0E;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #contact .contact-info .under-line {
      width: 100px;
      margin: 0 auto;
      margin-bottom: 30px;
      border: 2px solid #222222; }
    #contact .contact-info p {
      font-family: 'acherus_grotesquelight', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #contact .contact-info a {
      padding-top: 50px;
      font-family: 'acherus_grotesquemedium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      color: #222222;
      text-decoration: underline;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      #contact .contact-info a:hover {
        color: rgba(0, 0, 0, 0.5); }

@media screen and (min-width: 511px) {
  #contact .contact-info .under-line {
    width: 250px;
    margin-bottom: 30px; } }

@media screen and (min-width: 768px) {
  #contact {
    height: calc(100vh - 181.66px); }
    #contact .contact-info h3 {
      font-size: 45px; }
    #contact .contact-info .under-line {
      width: 300px;
      margin-bottom: 30px; }
    #contact .contact-info p {
      font-size: 18px; }
    #contact .contact-info a {
      font-size: 18px; } }
